* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(30, 30, 86);
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {

    text-decoration: None;
    color: white;
}

nav ul li a:hover {

    color: rgb(147, 147, 229);
    font-size: 1.02rem;
}

.left {
    font-size: 1.5rem;
}

.FirstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}

.FirstSection>div {
    width: 30%;

}

.leftSection {
    font-size: 2rem;

}

.leftSection .buttons {

    margin: 10px;
    padding: 30px 0;
}



.leftSection .btn {

    background-color: #242c96;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
}

.rightSection img {
    width: 80%;
    margin: 50px 0;
}

.purple {
    color: rgb(167, 108, 223);
}

#element {
    color: rgb(130, 130, 238);
}

.SecondSection {

    margin: auto;
    max-width: 80vw;
    height: 80vh;
}

main hr {
    border: 0;
    background-color: rgb(130, 130, 239);
    height: 1px;
    margin: 60px 84px;
}

.SecondSection h1 {

    font-size: 1.5rem;
}

.text-gray {
    color: gray;
}

.SecondSection .box {

    background: white;
    width: 70vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.SecondSection .vertical {
    width: 1px;
    height: 90px;
    background: white;
    margin: 0 100px;
}

.image-top {

    width: 30px;
    position: relative;
    top: -28px;
    left: -12px;
}

.vertical-title {

    position: relative;
    top: 67px;
    width: 150px;
    font-size: 14px;
}

.vertical-desc {

    position: relative;
    top: 79px;
    color: gray;
    width: 150px;
    font-size: 10px;
}

.image-top1 {

    width: 70px;
    position: relative;
    top: -28px;
    left: -12px;
}

footer {
    background-color: #13171d;

}

.footer {

    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: None;
}

.footer>div {
    width: 223px;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}